<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GreenMind">

        <!-- Activity Principale con i Fragment -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Home Activity -->
        <activity
            android:name=".resource.home.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.GreenMind" />

        <activity
            android:name=".resource.learn.LearnActivity"
            android:theme="@style/Theme.GreenMind" />
        <activity
            android:name=".resource.quiz.QuizActivity"
            android:theme="@style/Theme.GreenMind" />
        <activity
            android:name=".resource.quiz.QuizPlayActivity"
            android:theme="@style/Theme.GreenMind" />
        <activity
            android:name=".resource.classifica.ClassificaActivity"
            android:theme="@style/Theme.GreenMind" />
        <activity
            android:name=".resource.profilo.ProfiloActivity"
            android:theme="@style/Theme.GreenMind" />
        <activity
            android:name=".resource.profilo.SettingsActivity"
            android:theme="@style/Theme.GreenMind"
            android:label="Impostazioni" />

    </application>

</manifest>